<div id="search" class="container-header-search__container-input-search container-input-search">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="container-input-search__input-search"/>
	<button type="button" class="container-input-search__button-search button-search">
		<i class="button-search__icon fa fa-search"></i>
	</button>
</div>